form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    margin-bottom: 10px;
}

form input {
    margin-bottom: 10px;
    width: 25%;
}

form button {
    margin-bottom: 10px;
}